/* common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 20px auto;
}

.noto-serif-title {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-sub-title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.dark-2 {
  color: #8987a1;
}

.orange {
  color: #e95a08;
}

/* navbar */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-container ul a {
  text-decoration: none;
}

.active {
  color: black;
}
.nav-content {
  display: flex;
}
#anc {
  text-decoration: none;
}

/* banner */
.banner-container {
  display: flex;
  align-items: flex-end;
  margin-top: 120px;
}

.banner-content {
  max-width: 570px;
}

.banner-content h1 {
  font-size: 65px;
  font-weight: bold;
}

.banner-content p {
  font-size: 22px;
  margin-top: 12px;
}

/* plant section */

.plant {
  margin-top: 150px;
}
.plant-content {
  text-align: center;
  max-width: 888px;
  margin: 30px auto;
}
.plant-content h1 {
  font-size: 50px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 15px;
}

.card {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 100%;
}

.card p,
h4 {
  margin-top: 10px;
}

.card button {
  width: 100%;
}

.add-crt-btn {
  background-color: #e95a08;
  color: white;
  border: none;
  padding: 20px 30px;
  margin-top: 10px;
}

/* responsive */

@media screen and (max-width: 576px) {
  .container {
    max-width: 361px;
  }
  .nav-content ul {
    display: none;
  }
  .nav-container {
    display: flex;
    align-items: center;
  }
  .nav-container figure img {
    width: 50%;
  }

  .banner-container {
    flex-direction: column-reverse;
  }
  .res-img {
    max-width: 100%;
  }

  .banner-content h1 {
    font-size: 2rem;
    margin-top: 28px;
  }

  .banner-content p {
    font-size: 1rem;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .plant {
    margin-top: 50px;
  }

  .plant-content h1 {
    font-size: 2rem;
  }

  .plant-content p {
    font-size: 1rem;
  }
}
