/* common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 20px auto;
}

.noto-serif-title {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-sub-title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.dark-2 {
  color: #8987a1;
}

.orange {
  color: #e95a08;
}

/* navbar */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-container ul a {
  text-decoration: none;
}

.active {
  color: black;
}

/* banner */
.banner-container {
  display: flex;
  align-items: flex-end;
  margin-top: 120px;
}

.banner-content {
  max-width: 570px;
}

.banner-content h1 {
  font-size: 65px;
  font-weight: bold;
}

.banner-content p {
  font-size: 22px;
  margin-top: 12px;
}
