/* common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 20px auto;
}

.noto-serif-title {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-sub-title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.dark-2 {
  color: #8987a1;
}

.orange {
  color: #e95a08;
}

/* navbar */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-container ul a {
  text-decoration: none;
}

.active {
  color: black;
}
.nav-content {
  display: flex;
}
#anc {
  text-decoration: none;
}

/* banner */
.banner-container {
  display: flex;
  align-items: flex-end;
  margin-top: 120px;
}

.banner-content {
  max-width: 570px;
}

.banner-content h1 {
  font-size: 65px;
  font-weight: bold;
}

.banner-content p {
  font-size: 22px;
  margin-top: 12px;
}

/* plant section */

.plant {
  margin-top: 150px;
}
.plant-content {
  text-align: center;
  max-width: 888px;
  margin: 30px auto;
}
.plant-content h1 {
  font-size: 50px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 15px;
}

.card {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 100%;
}

.card p,
h4 {
  margin-top: 10px;
}

.card button {
  width: 100%;
}

.add-crt-btn {
  background-color: #e95a08;
  color: white;
  border: none;
  padding: 20px 30px;
  margin-top: 10px;
}
/* lover section */

.lover {
  display: flex;
  align-items: center;
  margin-top: 200px;
}

.lover-image img {
  max-width: 80%;
}
.lover-image {
  position: relative;
  flex: 1;
}

.l2 {
  width: 40%;
  position: absolute;
  top: -100px;
  left: 300px;
}
.lover-content {
  flex: 1;
}

.lover-content ul {
  margin-left: 30px;
}
.lover-content ul li {
  margin-top: 20px;
  font-size: 22px;
}

.lover-content h1 {
  font-size: 50px;
}

.lover-title {
  display: flex;
  flex-direction: column;
}

/* latest */

.latest {
  max-width: 600px;
  text-align: center;

  display: flex;
  flex-direction: column;
  margin: 100px auto;
  gap: 20px;
}

.latest h1 {
  font-size: 50px;
}
#latest {
  color: #e95a08;
}

/* latest down */

.ld {
  display: flex;
  gap: 20px;
}

.left-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.card-1 {
  background: url("../assets/deal-ana.png");
}
.card-2 {
  background: url("../assets/deal-bloom.png");
}

.card-1,
.card-2 {
  border-radius: 12px;
  height: 200px;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.overlay-text h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.overlay-text a {
  font-size: 14px;
  color: white;
  text-decoration: underline;
  font-weight: 500;
}

.main-banner {
  background: url("../assets/deal-zabo.png");
  flex: 2;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  color: white;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-banner h2 {
  font-size: 32px;
  font-weight: bold;
}

.main-banner a {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  text-decoration: underline;
  font-weight: 500;
  color: white;
}

/* join */

.join {
  background: url("../assets/news-letter-bg.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 533px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.join h1 {
  font-size: 50px;
  color: white;
}

form {
  display: flex;
}
form input[type="email"] {
  width: 420px;
  padding: 20px 50px;
}
form input[type="button"] {
  background-color: #e95a08;
  color: white;
  border: none;
  padding: 20px 50px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
  align-items: flex-start;
}

.footer-content {
  width: 320px;
}
.home-container ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-container ul li {
  list-style: none;
}

.home-container ul li a {
  text-decoration: none;
}
.feature-container ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.feature-container ul li {
  list-style: none;
}

.feature-container ul li a {
  text-decoration: none;
}
.footer-logo {
  display: flex;
  gap: 20px;
}

/* responsive */

@media screen and (max-width: 576px) {
  .container {
    max-width: 361px;
  }
  .nav-content ul {
    display: none;
  }
  .nav-container {
    display: flex;
    align-items: center;
  }
  .nav-container figure img {
    width: 50%;
  }

  .banner-container {
    flex-direction: column-reverse;
  }
  .res-img {
    max-width: 100%;
  }

  .banner-content h1 {
    font-size: 2rem;
    margin-top: 28px;
  }

  .banner-content p {
    font-size: 1rem;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .plant {
    margin-top: 50px;
  }

  .plant-content h1 {
    font-size: 2rem;
  }

  .plant-content p {
    font-size: 1rem;
  }
  .lover {
    flex-direction: column;
    margin: 80px auto;
  }
  .lover-title {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .lover-title h1 {
    flex-direction: row;
    font-size: 2rem;
  }
  .lover-image img {
    max-width: 100%;
  }
  .l2 {
    display: none;
  }
  .lover-content ul li {
    font-size: 1rem;
  }

  .join {
    background-size: cover;
  }
  .join h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .latest {
    max-width: 300px;
  }

  .latest h1 {
    font-size: 2rem;
  }
  .latest p {
    font-size: 1rem;
  }

  .ld {
    display: flex;
    flex-direction: column;
  }

  form {
    display: flex;
    justify-content: center;
  }

  form input {
    max-width: 50%;
  }

  form input[type="email"] {
    margin: 0;
  }
  form input[type="button"] {
    margin: 0;
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
